<ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item list-group-item-action">
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "New Article", new_article_path, class:"btn btn-primary" %>
<br><br>

